.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.margin-1 {
  margin: 1rem;
}

.width-50 {
  max-width: 50vw;
}

p {
  font-size: 1.5em;
}

p,
h1,
h2 {
  margin: 0.5rem 0;
}
